/*document*/
@charset "UTF-8";
ul,li{list-style: none}
.clear{
    clear: both;
}
*{
    padding:0;margin:0
}
html,body{
    height:100%;
    font-family: "微软雅黑";
}


/*top*/
.nav{
    width: 100%;
    height:auto;
    background:#deecdf;
}
.top-por{
    width:200px;
    height:200px;
    margin:0 auto;
    padding-top:6%;
}
.top-txt{
    width:40%;
    height:95px;
    margin:0 auto;
    text-align: center;
    font-size: 1rem;
}
.nav-bottom{
    width:140px;
    height:56px;
    margin:0 auto;
    border-radius: 5px 5px 0 0;
    background:#00cfbd;
    margin-top:20px;
    vertical-align: text-bottom;
    background-image: url(images/三角.png);
    background-size: 26px 20px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
/*/top*/


/*statistics*/
.statistics{
    width:85%;
    height:auto;
    /*background: #00ff00;*/
    margin:0 auto;
    margin-top:30px;
}
.statistics-study{
    width:45%;
    height:auto;
    float:left;
    /*background: #9d9999;*/
}
.statistics-study p span{
    color:#c1c7c1;
}
.terrified{
    color:#00cfbd
}
.statistics-study p{
    margin-top:20px;
}


.statistics-skills{
    float:right;
    width:45%;
    height:auto;
    /*background: #03a9f4;*/
}
.statistics-skills ul{
    margin-top: 10px;
}
.statistics-skills ul li img{
    width:100%;
    height:auto;
    margin-top:3px;
}
.statistics-skills ul li{
    width:100%;
    height:auto;
    font-size: 1rem;
    font-family:"微软雅黑";
    margin-top:10px;
}








/*/statistics*/



/*content*/
.content{
    width:85%;
    height:auto;
    /*background:#ffcf14;*/
    margin:0 auto;
    margin-top:80px;
}
.content .top ul{
    /*background: #03a9f4;*/
}
.content .top ul li{
    float:left;
    width:382px;
    text-align: center;
}
.content .top ul li h1{
    font-size: 1.2rem;
    color:#333333;
    font-weight: bold;
}

.content .top ul li p{
    margin-top:5px;
    color:#9fa69d;
}
.center{
    width:100%;
    height:auto;
    /*background: #0000FF;*/
    text-align: center;
    font-size: 2.5rem;
    color:#333333;
    margin:6% 0;
    font-weight: bold;
}
.content .bottom{
    width:100%;
    height:auto;
    /*background: #00ff00;*/
}
.content .bottom ul li{
    float:left;
    width:25%;
    height:150px;
    /*background: #03a9f4;*/
}





/*/content*/



/*center*/
.enter{
    width:100%;
    height:auto;
    background: #deecdf;
}

.center-txt{
    width:100%;
    height:100px;
    text-align: center;
    font-size: 2.5rem;
    line-height: 100px;
}
.center-form{
    width:80%;
    height:auto;
    margin:0 auto;
}



.center-form-input{
    width:49%;
    height:auto;
    float: left;

}
.center-form-input input{
    width:100%;
    height:60px;
    border:1px solid #7ca17f;
    box-sizing: border-box;
    margin:10px 0;
    background: #deecdf;
}



.center-form textarea{
    float:right;
    width:49%;
    height:218px;
    margin-top:10px;
    background: #deecdf;
    border:1px solid #7ca17f;
}
/*.center-form textarea [placeholder]{*/
    /*font-size: 1rem;*/
/*}*/

.input-submit{
    width:150px;
    height:50px;
    border:0;
    background: #393b3a;
    border-radius: 5px;
    font-size: 1rem;
    color:#fff;
    float:right;
    margin-bottom: 20px;
}
/*center*/



/*footer*/
.map{
    width:100%;
    height:auto;
}
.map img{
    width:100%;
}
.footer{
    width:100%;
    height:50px;
    text-align: center;
    line-height: 50px;
    background: #deecdf;
}
/*/footer*/



@media screen and (max-width:414px) {
    .statistics-study{
        float: none;
        width: 100%;
    }
    .statistics-skills{
        float:none;
        width:100%;
        margin-top:30px;
    }

}
@media screen and (max-width:414px){
    .content .top ul li{
        float:none;
        width:100%;
        margin:50px 0;
    }
}
@media screen and (max-width:414px){
    .center-form-input{
        width:100%;
    }
    .center-form textarea{
        float:none;
        width:100%;
        height:150px;
    }
    .input-submit{
        width:100%;
        float:none;
        margin:10px 0;
    }
}






